.experiment-list {
    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $global-padding;
        margin-bottom: $global-margin;
    }
}

#app.experiment-editor {
    min-height: 200px;
}
