.margin-top {
    margin-top: $global-margin;
}

.margin-bottom {
    margin-bottom: $global-margin;
}

.align-middle {
    vertical-align: middle;
}

.padding-left {
    padding-left: $global-padding;
}

.padding-right {
    padding-right: $global-padding;
}

.full-width {
    width: 100%;
}
