section.question {
    th {
        &[scope="col"] {
            text-align: center;
        }
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding-left: 0;
        padding-right: 0;

        input[type="radio"], input[type="checkbox"] {
            margin-right: 0;
        }
    }
}
