.question {
    margin-bottom: $global-margin;

    h2 {
        &.required {
            &::after {
                content: '*';
                color: $alert-color;
                margin-left: $global-margin / 2;
            }
        }
    }

    ul {
        margin-bottom: 0;
    }

    &.has-error {
        h2, label, #{text-inputs()}, input[type="radio"], input[type="checkbox"], select, tr.has-error th, tr.has-error td {
            color: $alert-color;
        }

        .error {
            font-size: rem-calc(10);
            margin-bottom: $global-margin;

            .label {
                span {
                    margin-left: $global-margin / 2;
                    vertical-align: middle;
                }
            }
        }
    }
}
